[submodule "I2C"]
	path = I2C
	url = https://github.com/mtmal/I2C.git
[submodule "JetracerUtils"]
	path = JetracerUtils
	url = git@github.com:mtmal/JetracerUtils.git
[submodule "GamepadController"]
	path = GamepadController
	url = https://github.com/mtmal/gamepad-controller
[submodule "MotorController"]
	path = MotorController
	url = https://github.com/mtmal/motor-controller/
